@import "../../styles/index.scss";

header {
    z-index: map-get($z-index, header);
}

.nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: map-get($z-index, nav);
    background: $colorWhite;
    width: 100%;
    min-height: rem(50px);
    height: 100vh;
    transform: translateX(-110%);
    box-shadow: rem(-2px 15px 40px -23px) rgba(0, 0, 0, 1);
    font-weight: bold;
    padding: rem(10px 20px);
    opacity: 0;
    transition: all .3s ease-in;

    &.-open {
        opacity: 1;
        transform: translateX(0);
        transition: all .3s ease-in;

        @include medium {
            transform: none;
        }
    }

    @include medium {
        justify-content: center;
        flex-direction: row;
        height: auto;
        opacity: 1;
        transform: none;
    }

    li {
        margin: rem(10px 3px);

        
        @include medium {
            margin: rem(0 15px);
        }
    }

    a {
        color: $colorBlack;
        padding: 0;

        &.-active {
            color: $colorBlue;

            @include skew(14px, $colorBlue);
        }
    }
}