@import "../../styles/index.scss";

header {
    z-index: map-get($z-index, header);
}

.nav {
    padding: rem(10px 20px);
    display: flex;
    justify-content: center;
    min-height: 50px;
    box-shadow: -2px 15px 40px -23px rgba(0, 0, 0, 1);
    font-weight: bold;
    position: fixed;
    z-index: map-get($z-index, nav);
    background: $colorWhite;
    width: 100%;

    li {
        margin: rem(0 3px);

        
        @include medium {
            padding: rem(0 10px);
        }
    }

    a {
        color: $colorBlack;
        margin: rem(0 5px);
        padding: 0;

        &.-active {
            color: $colorBlue;

            @include skew(14px, $colorBlue);
        }

        @include medium {
            padding: rem(0 10px);
        }
    }
}