@import '../../styles/index.scss';

.grid {
    display: flex;
    flex-wrap: wrap;

    &__preference {
        @include round(40px, $colorBlue, $colorWhite, 12px);

        position: absolute;
        left: rem(10px);
        top: rem(10px);
    }

    &__item {
        position: relative;
        width: 100%;
        box-sizing: border-box;
        margin: 0;
        overflow: hidden;

        animation: card-in .5s linear;
        animation-fill-mode:forwards;
        animation-delay: 1000ms;

        @for $i from 1 through 21 {
            &:nth-child(#{$i}){
              animation-delay: $i * 50ms;
            }
        }

        @include smallMedium {
            width: 50%;
        }

        @include medium {
            width: 33.3%;
        }

        @include xlarge {
            width: 25%;
        }
    }

    &__image {
        width: 100%;
    }

    &__info {
        background: $colorGray04;
        color: $colorWhite;
        padding: rem(20px);
        height: 100%;
        font-size: rem(12px);

        @include medium {
            padding: rem(30px); 
            font-size: rem(12px);
        }

        h3 {
            font-weight: normal;
        }
    }

    &__delete {
        position: absolute;
        right: 0;
        top: 0;

        svg {
            fill: $colorBlack;
            width: rem(30px);
            height: rem(30px);
        }
    }

    &__deleteAll {
        svg {
            fill: $colorBlack;
            margin: 0 5px;
        }
    }
}