@import '../../styles/index.scss';

.gridTable {
    display: grid;

    &__row {
        display: grid;
        grid-template-columns: repeat(3, 2fr) repeat(2, 1fr);
        align-items: center;

        &:not(:last-child) {
            border-bottom: 1px solid #ddd;
        }
    }

    img {
        width: rem(90px);

        @include medium {
            width: rem(120px);
        }
    }
}