@import '../../styles/index.scss';
  
.rangeSlider {
    position: relative;
    max-width: rem(900px);
    margin: 0 auto rem(40px);

    &__slide {
        position: absolute;
        width: 100%;
        background: transparent;
        appearance: none;
        left: 0;
        top: rem(-31px);
        height: rem(46px);
        z-index: map-get($z-index, rangeSlider);
        outline: none;
        opacity: 0;

        &::-ms-expand {
            display: none;
        }

        &::-ms-clear {
            display: none;
        }

        &::-webkit-slider-thumb {
            width: rem(35px);
            height: rem(35px);
            margin: rem(-3px 0 0 -3px);
            cursor: pointer;
            appearance: none;
        }
    }

    .circle {
        position: absolute;
        top: rem(-6px);
        width: rem(30px);
        height: rem(30px);
        border-radius: 50%;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .07);
        border: solid 1px $colorBlue;
        background: white;
        display: inline-block;
        transition: .2s;
        cursor: pointer;
        z-index: map-get($z-index, rangeSlider);
    }

    &__value {
        position: absolute;
        top: rem(8px);
        left: 0;
        display: inline-block;
        width: 20%;
        height: rem(5px);
        background: $colorBlue;
        border-radius: rem(10px 0 0 10px);
        transition: .2s;
    }

    &::after {
        content: '';
        width: 100%;
        height: rem(20px);
        border-radius: rem(10px);
        background: #f2f4f4;
        display: block;
    }

    .bullet {
        position: relative;
        z-index: map-get($z-index, rangeBullet);

        &.rangeSlider__bullet {
            @for $i from 0 through 17 {
                &-#{$i} {
                    @include bullet(#{$i * 5.8%}, $colorBlue);
                }
            }
        }  

        &.year {
            &.rangeSlider__bullet {
                @for $i from 0 through 10 {
                    &-#{$i} {
                        @include bullet(#{$i * 10%}, $colorBlue);
                    }
                }
            }
            
            .device {
                display: none;
            }
        }
    }

    &__number {
        position: absolute;
        top: rem(20px);
        font-size: rem(10px);
        width: rem(28px);
    }
}