@import '../../styles/index.scss';

.ratings {
    background: $colorGray06;
    padding: rem(30px 20px);
    margin-bottom: rem(30px);
    text-align: center;

    &__submit {
        margin: rem(15px) auto;
    }
}