@import '../../styles/index.scss';

.swipe {
    height: 100%;
}

.slider {
    position: relative;
    width: 100%;
    max-width: rem(1000px);
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    padding-bottom: rem(50px);
    margin-bottom: rem(50px);

    @include aspect-ratio(800, 526);

    &.slider-2 {
        @include medium {
            @include aspect-ratio(800, 260);
        } 
    }

    &.slider-3 {
        @include medium {
            @include aspect-ratio(800, 180);
        } 
    }

    &__wrapper {
        position: absolute;
        height: 100%;
        width: 100%;
    }
}
  
.slide {
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: rem(20px);

    .slider-2 & {
        @include medium {
            width: 50%; 
        }
    }

    .slider-3 & {
        @include medium {
            width: 33%; 
        }
    }

    @include medium {
        padding: rem(20px 50px);

        .slider-2 &,
        .slider-3 & {
            @include medium {
                padding: rem(20px 0);
            }
        }
        
    }

    img {
        width: 100%;
    }
}
  
.arrow {
    height: rem(50px);
    width: rem(50px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: transform ease-in .1s;
}
  
.nextArrow,
.backArrow  {
    position: absolute;
    top: 50%;
    margin-top: rem(-13px);
    right: rem(25px);
    color: $colorWhite;
}

.backArrow {
    left: rem(25px);
    right: auto;
    transform: rotate(180deg);
}

.pagination {
    position: absolute;
    width: 100%;
    bottom: rem(-4px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: rem(0 20px);

    @include medium {
        bottom: rem(80px);
    }

    &__item {
        margin: rem(5px);
        padding: 0;

        &.-active {
            button {
            background: $colorBlue;
            }
        }

        button {
            background: none;
            border: 2px solid $colorBlue;
            transform: skewX(-18deg);
            transition: all .3 ease-in;
            cursor: pointer;
            width: rem(20px);
            height: rem(20px);
            text-indent: rem(-9000px);

            &:hover {
                background: $colorBlue;
                transition: all .3 ease-in;
            }

            &:focus {
                border: 2px solid red;
            }
        }
    }
}