@import '../../styles/index.scss';

.panelNav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: $colorWhite;
    color: $colorBlack;
    width: 100vw;
    z-index: map-get($z-index, panelNav);
    padding: 18vh 8.5vmax 0 9vmax;
    transition: right 1s cubic-bezier(.19,1,.22,1),left 1s cubic-bezier(.19,1,.22,1);
    padding: 60px 25px;
    box-shadow: 0 10px 36px 0 rgba(186, 194, 195, 0.47);

    .App & {
      left: -120vw;
    }

    @include large {
      height: 100vh;
      left: -60vw;
      width: 50vw;
    }

    &.expanded {
      left: 0;
    }

    &__overlay {
      position: fixed;
      top: 0;
      width: 50vw;
      height: 100%;
      left: 50%;
      display: none;

      .expanded & {}
    }

    ul {
      overflow: auto;
      max-height: 90vh;
    }

    &__item {
        display: flex;
        align-items: center;
    }

    &__image {
        img {
            width: 100px;
            height: auto;
        }
    }
}