@import "../../styles/index.scss";

/* list */
.list {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    overflow: hidden;
  }

  &__category {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $colorGray03;
    border-top: 1px solid $colorGray03;
  }

  &__categoryTitle {
    padding: rem(20px);
  }

  &__searchBar {
    padding: rem(10px 0);
  }

  &__searchMain {
    display: flex;
    justify-content: center;
  }

  &__filterButton {
    padding: rem(20px);
    border-left: 1px solid $colorGray03;
    border-right: 1px solid $colorGray03;
    transition: all 0.3s ease-in;
    display: flex;
    align-items: center;

    &.-active {
      border-bottom: 5px solid $colorBlack;
    }

    svg {
      margin-right: rem(15px);
    }
  }

  &__item {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    border: #eae8e4 1px solid;
    margin: 0;
    transition: 0.15s all ease-in-out;
    min-height: rem(337px);
    color: $colorWhite;
    transition: all .6s ease-in;

    @include smallMedium {
      width: 50%;
    }

    @include large {
      width: 33.3%;
    }

    @include xlarge {
      width: 25%;
    }

    &:hover {
      transform: scale(1.05);
    }

    img {
      width: 100%;
      height: auto;
    }

    .button-like {
      // @include button($colorBlack, $colorWhite);
    }
  }

  &__itemContainer {
    transition: all 0.5s ease-in;
    opacity: 0;
  }

  .sticky {
    top: rem(50px);
    background: rgba(255, 255, 255, 0.9);
  }

  &__filter {
    display: flex;
    justify-content: center;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    flex-wrap: wrap;

    button {
      @include loopAnimationBottomTop(50px, .8s);
    }
    
    label {
      // @include button($colorBlack, $colorWhite);
    }
  }

  &__new {
    position: absolute;
    left: 5%;
    top: 0;
    width: 50%;
    background: $colorBlue;
    color: $colorWhite;
    padding: rem(5px 10px);
    transform: skewX(-18deg);
  }

  &__icon {
    margin: rem(0 10px);
  }
}

.unavailable {
  img {
    opacity: 0.5;
  }
}
