$mobileDivider: 2;
$size: 200px;
$borderSize: -80px;

.circles {
	display: flex;
	justify-content: center;

	.circle {
		margin: rem(0 20px);

		&__round {
			display: block;
			width: $size/$mobileDivider;
			height: $size/$mobileDivider;
			margin: 2em auto;
			box-shadow: 0 0 1em black;
			border-radius: 100%;
			position: relative;

			@include medium {
				height: $size;
				width: $size;
			}

			&:after {
				position: absolute;
				display: block;
				width: ($size/$mobileDivider)/1.25;
				height: ($size/$mobileDivider)/1.25;
				left: 50%;
				top: 50%;
				box-shadow: inset 0 0 1em black;
				content: attr(data-pct)"%";
				margin-top: $borderSize/$mobileDivider;
				margin-left: $borderSize/$mobileDivider;
				border-radius: 100%;
				line-height: ($size/1.25)/$mobileDivider;
				font-size: 2em/$mobileDivider;
				text-shadow: 0 0 0.5em black;

				@include medium {
					height: $size/1.25;
					width: $size/1.25;
					line-height: $size/1.25;
					margin-top: $borderSize;
					margin-left: $borderSize;
					font-size: 2em/$mobileDivider;
				}
			}
		}

		&__svg {
			width: $size/$mobileDivider;
			height: $size/$mobileDivider;

			@include medium {
				width: $size;
				height: $size;
			}

			circle {
				stroke-dashoffset: 0;
				transition: stroke-dashoffset 1s linear;
				stroke: #c5c5c5;
				stroke-width: 1em;
				transform: scale(1/$mobileDivider);

				@include medium {
					transform: none;
				}
			}

			.circle__bar {
				stroke: $colorBlue;
			}
		}

		
	}
}
  