@import '../../styles/index.scss';

.toast {
    width: rem(350px);
    padding: rem(15px);
    position: fixed;
    overflow-y: scroll;
    top: 0;
    right: 0;
    z-index: map-get($z-index, toaster);
    transition: all .3s ease-in;
    background: $colorBlack;
    color: $colorWhite;

    .App &,
    .next & {
      opacity: 0;
      transform: translateX(350px);
    }

    a {
      color: $colorWhite;
    }

    &.-show {
      opacity: 1;
      transform: translateX(0);
    }

    &.top-left {
      top: rem(10px);
      left: rem(10px);
    }
    
    &.top-right {
      top: rem(10px);
      right: rem(10px);  
    }
    
    &.bottom-left {
      bottom: rem(10px);
      left: rem(10px);
    }
    
    &.bottom-right {
      bottom: rem(10px);
      right: rem(10px);
    }

    &__wrapper {
      position: relative;
      width: 100%;
    }

    &__close {
      position: absolute;
      top: rem(3px);
      right: rem(3px);

      svg {
        fill: $colorWhite;
      }
    }

    &__header {
      margin-bottom: rem(10px);
    }

    &__content {
      display: flex;
      align-items: center;
    }

    &__image,
    &__text {
      flex: 0 0 50%;
      width: 50%;
    }

    &__image {
      img {
        width: rem(60px);
      }
    }
}