@import '../../styles/index.scss';

.toast {
    width: 350px;
    padding: 15px;
    position: fixed;
    overflow-y: scroll;
    top: 0;
    right: 0;
    z-index: map-get($z-index, toaster);
    transition: all .3s ease-in;
    background: $colorBlack;
    color: $colorWhite;

    .App &,
    .next & {
      opacity: 0;
      transform: translateX(350px);
    }

    a {
      color: $colorWhite;
    }

    &.-show {
      opacity: 1;
      transform: translateX(0);
    }

    &.top-left {
      top: 10px;
      left: 10px;
    }
    
    &.top-right {
      top: 10px;
      right: 10px;  
    }
    
    &.bottom-left {
      bottom: 10px;
      left: 10px;
    }
    
    &.bottom-right {
      bottom: 10px;
      right: 10px;
    }

    &__wrapper {
      position: relative;
      width: 100%;
    }

    &__close {
      position: absolute;
      top: 3px;
      right: 3px;

      svg {
        fill: $colorWhite;
      }
    }

    &__header {
      margin-bottom: 10px;
    }

    &__content {
      display: flex;
      align-items: center;
    }

    &__image,
    &__text {
      flex: 0 0 50%;
      width: 50%;
    }

    &__image {
      img {
        width: 60px;
      }
    }
}