@import 'aspectRatios.scss';
@import 'heading.scss';
@import 'inputs.scss';

.headLine {
    margin: 0 auto;
    flex: 0 0 80%;
    max-width: 80%;
    border-left: 4px solid $colorBlue;
    padding: rem(10px 0 0 25px);
    text-align: left;

    @include medium {    
        flex: 0 0 30%;
        max-width: 30%;
    }

    &__title {
        text-transform: uppercase;
    }

    &__subtitle {
        font-size: rem(18px);
    }
}

.subTitle {
    font-size: rem(45px);
    color: $colorBlue;
    position: relative;
    display: inline-block;
    padding-right: rem(30px);
    margin-bottom: rem(30px);

    &::after {
        content: '';
        position: absolute;
        right: 0;
        top: rem(-25px);
        width: 1px;
        height: rem(100px);
        background: $colorBlue;
        transform: skewX(-18deg);
    }
}

.skew {
    @include skew(20px, $colorBlack);
}

button {
    background: none;
    border: none;
    cursor: pointer;

    &:focus {
        border: rem(2px) solid $colorBlue;
    }
}

.icon {
    width: rem(30px);
    height: rem(30px);
    fill: $colorBlack;
    stroke: $colorBlack;
}

.button {
    @include button($colorBlack, $colorWhite);
}

.burgerMenu {
    position: absolute;
    z-index: map-get($z-index, burgerMenu);
    right: rem(15px);
    top: rem(15px);

    @include medium {
        display: none;
    }
}

a {
    text-decoration: none;
    color: $colorBlack;

    &:focus {
        border: rem(2px) solid $colorBlue;
    }
}

.bold {
    font-weight: bold;
}

.inputSearch {
    border: none;
    font-size: rem(25px);
    border-bottom: 1px solid $colorBlack;
    outline: none;

    @include medium {
        font-size: rem(40px);
    }
}

.overlay {
    position: fixed;
    left: 50vw;
    top: 0;
    width: 100%;
    height: 100%;
    background: $colorGray04;
    opacity: .5;
    left: 120vw;
    transition: right 1s cubic-bezier(.19,1,.22,1),left 1s cubic-bezier(.19,1,.22,1);

    &.expanded {
        left: 120vw;

        @include large {
            left: 50vw;
        }
    }
}

svg {
    width: rem(15px);
    height: rem(15px);

    .automotiveIcon & {
        width: rem(40px);
        height: auto;
    }
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: middle;
    overflow: hidden;
}

.arrow {
    width: rem(30px);
    height: rem(30px);

    &.left {
        transform: rotate(180deg);
    }
}