h1, h2 {
    color: $colorGray05;
}

h1 {
    font-size: rem(26px);
    text-align: center;
    margin: rem(20px 0);

    @include medium {
        font-size: rem(50px);
        margin: rem(50px 0);
    }
}

h2 {
    font-size: rem(18px);
    margin: rem(15px 0);

    @include medium {
        font-size: rem(30px);
        margin: rem(30px 0);
    }
}