/* scale and rotate */
@keyframes scaleDown {
    0%, 20%, 40%, 60%, 80%, 100% {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        transform: scale3d(1, 1, 1) skewX(-18deg);
    }

    40% {
        transform: scale3d(1, 1, 1) skewX(-18deg);
    }

    60% {
        opacity: 1;
        transform: scale3d(.7, .7, .7) skewX(-18deg);
    }

    100% {
        opacity: 1;
        transform: scale3d(.7, .7, .7) skewX(-18deg);
    }
}

@keyframes scaleUp {
    0%, 20%, 40%, 60%, 80%, 100% {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        transform: scale3d(.8, .8, .8) skewX(-18deg);
    }

    40% {
        transform: scale3d(.8, .8, .8) skewX(-18deg);
    }

    60% {
        opacity: 1;
        transform: scale3d(1, 1, 1) skewX(-18deg);
    }

    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1) skewX(-18deg);
    }
}

/* scale */
@keyframes scaleOn {
    0%, 20%, 60%, 80%, 100% {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        display: none;
        opacity: 0;
        transform: scale3d(1.5, 1.5, 1.5);
    }

    60% {
        display: block;
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }

    100% {
        display: block;
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

/* spinner */
$spinner: $colorBlue;
$background: $colorWhite;
$size: 50px;

.spinner {
    position: absolute;
    top: calc(50% - #{$size / 2});
    left: calc(50% - #{$size / 2});
    width: $size;
    height: $size;
    animation: spinner 0.75s linear infinite;

    span {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        left: 0;
    }

    .spinner-inner-1 {
        background: linear-gradient(to right, rgba($spinner,0) 0%,rgba($spinner,0) 50%,$spinner 51%);
    }

    .spinner-inner-2 {
        background: linear-gradient(to top, rgba($background,0) 0%,$background 100%);
    }

    .spinner-inner-3 {
        $offset: $size * 0.1;
        top: $offset;
        left: $offset;
        width: $size - ($offset * 2);
        height: $size - ($offset * 2);
        background: $background;
    }
}

@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.animate {
    transition: all .3s ease-in;
    background: $colorBlack;
    color: $colorWhite;
    display: block;
}