$colorBlack:#000000;
$colorGray01: #f2f2f2;
$colorGray02: #CCD5DB;
$colorGray03: #e5e5e5;
$colorGray04: #292E30;
$colorGray05: #7e7e7e;
$colorGray06: #f8f8f9;
$colorWhite:#ffffff;
$colorBlue: #0b299f;

$width375: rem(375px);
$width450: rem(450px);
$width768: rem(768px);
$width800: rem(800px);
$width1024: rem(1024px);
$width1440: rem(1440px);
$width1600: rem(1600px);

*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.sticky {
    position: sticky;
    z-index: map-get($z-index, stickyHeader);
}

.squareColor {
    display: inline-block;
    width: rem(30px);
    height: rem(14px);
}
